.process-card {
    margin-bottom: 40px;
    border-radius: 10px;
    padding: 20px 0;
    box-shadow: 5px 5px 10px #ffc82e;
    max-width: 750px;
    background-color: #005643;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.container-xxl {
    display: flex;
}

#name {
    font-size: 20px;
    font-weight: bold;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: #FFF;
    text-align: center;
    background-color: #005643;
}

.process-card:hover {
    transform: translateX(-5px);
}

.accordion-item{
    border: 0;
    width: 100%;
}